@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

.nav h2{
    margin-left: 50px;
}

.nav{
    height: 70px;
    box-shadow: 0px 3px 0px 0px rgba(165, 165, 165, 0.514);
    display: flex;
    justify-content: space-between;
}

.vote-header h1, .leaderboard-header h1{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 50px;
    text-align: center;
}

.vote-body{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.candidate{
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0px 3px 5px 2px rgba(165, 165, 165, 0.514);
    cursor: pointer;
    transition: all 0.5s;
    min-width: 300px;
}

.candidate:hover{
    box-shadow: 2px 7px 7px 7px rgba(165, 165, 165, 0.514);
    margin-top: -20px;
}

.new-candidate-form{
    box-shadow: 0px 3px 5px 2px rgba(165, 165, 165, 0.514);
    width: 600px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#name, #image{
    width: 400px;
    height: 50px;
    box-shadow: 0px 3px 5px 2px rgba(165, 165, 165, 0.514);
    padding-left: 20px;
    color: rgb(89, 89, 89);
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.submit{
    width: 400px;
    height: 50px;
    background-color: rgb(0, 204, 255);
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s;
}

.submit:hover{
    background-color: white;
    color: rgb(0, 204, 255);
    border: 1px solid rgb(0, 204, 255);
}

.new-candidate-form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.texts{
    text-align: center;
}

.vs{
    margin-top: 100px;
}

.vote-skip{
    display: grid;
    place-items: center;
}

.start-game{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skip, .start{
    height: 45px;
    width: 150px;
    background-color: rgb(0, 204, 255);
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s;
}

.leaderboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leaderboard-button, .vote-button, .new-candidate, .back{
    margin-top: 10px;
    margin-right: 30px;
    height: 45px;
    width: 200px;
    background-color: rgb(0, 204, 255);
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s;
}

.leaderboard-button:hover, .vote-button:hover, 
.skip:hover, .start:hover, .new-candidate:hover, .back:hover{
    border: 1px solid rgb(0, 204, 255);
    background-color: white;
    color: rgb(0, 204, 255);
}

.character-div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    border-radius: 10px;
}

@media only screen and (max-width:600px){
    .container{
        display: flex;
        flex-direction: center;
        justify-content: center;
        width: 700px;
    }
}